In [4]:
dic = { "name" : "john", "age":30,"city":"New York"}
print(dic["name"])

john

In [8]:
#keys are case senstive
word={}
word["hello"]= "world"
word["Hello"]= "welcome"
print(word)

{'hello': 'world', 'Hello': 'welcome'}

In [9]:
p={"raj":1,"ram":2,"shyam":3}
print(p)
p["raj"]=4
print(p)

{'raj': 1, 'ram': 2, 'shyam': 3}
{'raj': 4, 'ram': 2, 'shyam': 3}

In [13]:
# other vaalues thn  nummber and string
p={@:1,"ram":2,"shyam":3}
print(p)
p["raj"]=4
print(p)

SyntaxError: invalid syntax (4274821698.py, line 1)

In [15]:
#two strings , so it shows error, because set are mutable and mutable are not hasable
p={{"raj"}:1, "ram":2, "shyam":3}
print(p)
p["raj"]=4
print(p)

TypeError: unhashable type: 'set'

In [18]:
#Write a program to input ‘n’ employee numbers and names and store them in a dictionary. Display dictionaries employee’s names(key) and numbers(values) together.
n = int(input("Enter number of employees: "))
employees = {}
for i in range(n):
    name = input("Enter name: ")
    num = input("Enter number: ")
    employees[name] = num
print(employees)

Enter number of employees:  2
Enter name:  bhavani
Enter number:  01
Enter name:  bhargvai
Enter number:  02

{'bhavani': '01', 'bhargvai': '02'}